@font-face {
    font-family: 'HeadlineNEWS';
    src:url('./HeadlineNEWS.ttf.woff') format('woff'),
        url('./HeadlineNEWS.ttf.svg#HeadlineNEWS') format('svg'),
        url('./HeadlineNEWS.ttf.eot'),
        url('./HeadlineNEWS.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Typo';
    src:url('./Typo-Grotesk-Rounded.ttf.woff') format('woff'),
        url('./Typo-Grotesk-Rounded.ttf.svg#Typo-Grotesk-Rounded') format('svg'),
        url('./Typo-Grotesk-Rounded.ttf.eot'),
        url('./Typo-Grotesk-Rounded.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}