<section class="pb-20 bg-white -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-3 pt-12 w-full md:w-5/12 px-10 text-center">
          <div class="relative flex flex-col min-w-0 bg-white w-full mb-8 relative">
            <div class="px-4 py-5 flex-auto">
              
                <img src="assets/img/image-01.jpg">
              
            </div>
          </div>
        </div>
        <div class="w-full md:w-2/12 px-4 mt-20">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 ">
            <div class="px-4 py-5 flex-auto">
              
                <img class="absolute -ml-20" src="assets/img/image-02.jpg">
              
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-5/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 text-left bg-white w-full mb-8">
            <div class="px-4 py-5 flex-auto">
             
              <h3 class="text-gray-600 text-left uppercase text-bold">
                  Daj sobie szansę <br> Na więcej klientów
              </h3> 

              <hr>

              <p>Dzięki współpracy z <b>polskim producentem</b> drewnianej architektury ogrodowej <b>FIRMĄ KORA</b> zyskasz nie tylko stałych i lojalnych klientów, ale także coś bezcennego - <b>szacunek i zaufanie.</b>
                 To największy skarb w biznesie, na który pracuje się latami i bez wytchnienia. Jednak pamiętaj o piekielnie ważnej rzeczy, która nigdy nie powinna zniknąć z Twojego horyzontu: <b>„zawsze oferuj klientowi to, czego pragnie, o czym marzy, a nigdy nie będziesz narzekać na brak klientów".</b> </p>


           
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          
         
          
          
          
        </div>
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
            <img alt="..." src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1051&amp;q=80" class="w-full align-middle rounded-t-lg">
            <blockquote class="relative p-8 mb-4">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                <polygon points="-30,95 583,95 583,65" class="text-pink-600 fill-current"></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
                Top Notch Services
              </h4>
              <p class="text-md font-light mt-2 text-white">
                The Arctic Ocean freezes every winter and much of the
                sea-ice then thaws every summer, and that process will
                continue whatever happens.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>