<div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-6/12 -px-4 ml-auto mr-auto text-center -m-t-20">
        <div class="pr-12 slogan  text-white">
         
            
                <h1 class="slogan1 h-20 mb-5">SAUNY<h1>
                <h1 class="slogan2 h-20 mb-5">BANIE</h1>
                <h1 class="slogan3 h-20 mb-5">DOMKI</h1>
                <h1 class="slogan4 h-20 mb-5">ALTANY</h1>
                    
                
                <p class="subslogan font-thin">Drewno to nasza pasja</p>



        </div>
      </div>
    </div>
  </div>